* {
    margin: 0;
    padding: 0
}

header {
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
}

main {
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
}

footer {
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
}

.text-error {
    color: red;
}
.winner {
    color: chartreuse
}
